/* color palette from https://www.color-hex.com/color-palettes */
@font-face {
  font-family: "Grotesk-Bold";
  src: url(assets/Akzidenz\ Grotesk-Bold\ Extended.otf);
}
:root {
  --dope-color: #000000;
  --grey-color: #e9eaeb;
  --text-color: #d7d6d4e3;
  --highlight-color: #ffffff;
}

body {
  background: var(--dope-color);
  color: var(--highlight-color);
  font-family: "Karla", sans-serif;
  width: 100%;
  height: 100%;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 13px;
  margin-bottom: 3.5rem;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container .link-list {
  margin-bottom: 0.5rem;
}

.circle-shape {
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--grey-color);
  margin: 0 auto;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.link-list a {
  color: var(--highlight-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.25px;
  font-family: "Grotesk-Bold";
}
.ig-link {
  color: var(--highlight-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  font-family: "Grotesk-Bold";
}
.cr p {
  color: var(--highlight-color);
  font-size: 11px;
  margin-top: 0.3rem;
  margin-bottom: 9rem;
}

.selling-points {
  position: relative;
}
.point {
  position: relative;
  text-align: center;
  opacity: 0;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.ig-link {
  color: var(--highlight-color);
  margin: 13px 0;
  font-weight: bold;
  letter-spacing: 0.25px;
}
.link-list-item {
  border: 1px solid var(--highlight-color);
  box-sizing: border-box;
  margin: 20px auto;
  color: var(--highlight-color);
  padding: 15px;
  text-align: center;
  transition: all 0.25s;
  border-radius: 2px;
}
.link-list-item:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  background: -webkit-linear-gradient(
    318deg,
    #12c2e954,
    #b92c276b,
    #c3143163,
    #009dff50,
    #ff416d5d,
    #8a23875b,
    #ed213959
  );
  background: -o-linear-gradient(
    318deg,
    #12c2e954,
    #b92c276b,
    #c3143163,
    #009dff50,
    #ff416d5d,
    #8a23875b,
    #ed213959
  );
  background: linear-gradient(
    132deg,
    #12c2e954,
    #b92c276b,
    #c3143163,
    #009dff50,
    #ff416d5d,
    #8a23875b,
    #ed213959
  );
  -webkit-background: text;
  -webkit-text-fill-color: white;

  background-size: 400% 4%;
  -webkit-animation: textcolorchange 15s linear infinite;
  animation: textcolorchange 15s linear infinite;
}
@-webkit-keyframes textcolorchange {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textcolorchange {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main-b {
  z-index: 1;
}
.zdog-canvas {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(86px);
  -webkit-filter: blur(86px);
  float: left;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 6.4rem;
  top: 8.8rem;
  z-index: -1;
}
.zdog-canvas {
  background: -webkit-linear-gradient(
    318deg,
    #12c2e959,
    #b92c2780,
    #c3143167,
    #009dff54,
    #ff416d63,
    #8a23877a,
    #ed213967
  );
  background: -o-linear-gradient(
    318deg,
    #12c2e959,
    #b92c2780,
    #c3143167,
    #009dff54,
    #ff416d63,
    #8a23877a,
    #ed213967
  );
  background: linear-gradient(
    132deg,
    #12c2e954,
    #b92c276b,
    #c3143163,
    #009dff50,
    #ff416d5d,
    #8a23875b,
    #ed213959
  );
  -webkit-background: text;
  -webkit-text-fill-color: white;

  background-size: 400% 60%;
  -webkit-animation: textcolorchange 20s linear infinite;
  animation: textcolorchange 20s linear infinite;
}
@-webkit-keyframes textcolorchange {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textcolorchange {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* typer */
.word span {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.25px;
  color: var(--text-color);
  font-family: Grotesk-Bold;
}
#portfolio-body {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}
.link-list-item-typer {
  margin: 20px auto;
  color: var(--highlight-color);
  padding: 15px;
  text-align: center;
}
.word {
  margin: auto;
  text-align: center;
}

/* PORTFOL Text-Changing */
.m-port {
  background: -webkit-linear-gradient(
    318deg,
    #12c2e91f,
    #b92c2734,
    #c3143142,
    #009dff27,
    #ff416d34,
    #8a238731,
    #ed21392f
  );
  -webkit-text-fill-color: white !important;
  transition: all 0.25s;
}
.m-port:hover {
  background: -webkit-linear-gradient(
    318deg,
    #12c2e954,
    #b92c276b,
    #c3143163,
    #009dff50,
    #ff416d5d,
    #8a23875b,
    #ed213959
  );
  background: -o-linear-gradient(
    318deg,
    #12c2e954,
    #b92c276b,
    #c3143163,
    #009dff50,
    #ff416d5d,
    #8a23875b,
    #ed213959
  );
  background: linear-gradient(
    132deg,
    #12c2e954,
    #b92c276b,
    #c3143163,
    #009dff50,
    #ff416d5d,
    #8a23875b,
    #ed213959
  );
  -webkit-background: text;
  -webkit-text-fill-color: white;

  background-size: 400% 4%;
  -webkit-animation: textcolorchange 15s linear infinite;
  animation: textcolorchange 15s linear infinite;
}
@-webkit-keyframes textcolorchange {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textcolorchange {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.not-allowed {
  cursor: not-allowed !important;
}

footer#connect {
  background-color: black;
  color: #ffffff;
  position: fixed;
  padding: 0.5rem;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
footer#connect a {
  font-size: 14px;
}
#footer-links {
  margin: auto;
}

@media (max-width: 768px) {
  .container .link-list {
    margin-bottom: 0.5rem;
  }
  .circle-shape {
    width: 26vw;
    height: 26vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--grey-color);
    margin: 0 auto;
  }

  .profile-pic {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
  .zdog-canvas {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(86px);
    -webkit-filter: blur(86px);
    float: left;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    top: 12rem;
    z-index: -1;
  }
  .zdog-canvas {
    background: -webkit-linear-gradient(
      318deg,
      #12c2e959,
      #b92c2780,
      #c3143167,
      #009dff54,
      #ff416d63,
      #8a23877a,
      #ed213967
    );
    background: -o-linear-gradient(
      318deg,
      #12c2e954,
      #b92c276b,
      #c3143163,
      #009dff50,
      #ff416d5d,
      #8a23875b,
      #ed213959
    );
    background: linear-gradient(
      132deg,
      #12c2e954,
      #b92c276b,
      #c3143163,
      #009dff50,
      #ff416d5d,
      #8a23875b,
      #ed213959
    );
    -webkit-background: text;
    -webkit-text-fill-color: white;

    background-size: 400% 4%;
    -webkit-animation: textcolorchange 20s linear infinite;
    animation: textcolorchange 20s linear infinite;
  }
  @-webkit-keyframes textcolorchange {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 75% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes textcolorchange {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 75% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .word span {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.25px;
    color: white;
    font-family: "Grotesk-Bold";
  }
  .cr p {
    color: var(--highlight-color);
    font-size: 11px;
    margin-top: 0.5rem;
    margin-bottom: 6.8rem;
  }
}
@media (max-width: 368px) {
  .container .link-list {
    margin-bottom: 0.5rem;
  }
  .circle-shape {
    width: 26vw;
    height: 26vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--grey-color);
    margin: 0 auto;
  }

  .profile-pic {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  .word span {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: -0.25px;
    color: white;
    font-family: "Grotesk-Bold";
  }
  .cr p {
    color: var(--highlight-color);
    font-size: 11px;
    margin-top: 0.5rem;
    margin-bottom: 6.8rem;
  }
}
