body {
    
    margin: 0;
    padding: 0;
    line-height: 1em;
}

a {
    color: #4d4d4d;
    text-decoration: none;
}

.fb a,
.fb:before,
.fb {
    background: #3b5999;
    color: #3b5999;
}

.Li a,
.Li:before,
.Li {
    background: #55acee;
    color: #55acee;
}

.in a,
.in:before,
.in {
    background: #e4405f;
    color: #e4405f;
}

.gh a,
.gh:before,
.gh {
    background: #333333;
    color: #333333;
}

.bh a,
.bh:before,
.bh {
    background:#1a4fe0 ;
    color: #1a4fe0;
}

.dd a,
.dd::before,
.dd {
    background: #dd911ff8;
    color: #e7a84a;
}

.cp a,
.cp::before,
.cp {
    background: #4ecac0;
    color: #53ccc2;
}



/* liquid */
body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 170vh;
    overflow: hidden;
    
}


.gegga {
    width: 0;
    

  }
  .snurra {
    filter: url(#gegga);
  }
  .stopp1 {
    stop-color: #b3e9f3fa;
  }
  .stopp2 {
    stop-color: #19bedbfa;
  }
  .halvan {
    animation: Snurra1 10s infinite linear;
    stroke-dasharray: 180 800;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
  }
  .strecken {
    animation: Snurra1 3.2s infinite linear;
    stroke-dasharray: 26 54;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
  }
 
  @keyframes Snurra1 {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -403px;
    }
  }
  
  

/* Close-button */

/* .close-button {
    background: #ffffff;
    box-shadow: 0px 4px 12px #cc8989;
    border-radius: 80px;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 80%;
    left: 49%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.close-button:hover {
    background: rgb(223, 0, 0);
    box-shadow: 0px 12px 25px -12px,
        0px 0px 25px -12px;
    border-radius: 80px;
}
.close-button svg {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    transition: 400ms ease;
}
.close-button:hover svg {
    transform: translate(-50%, -50%) rotate(180deg);
}
.close-button:hover path {
    stroke: #ffffff;
} */



/* chatButton */


/* .chat {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 8px;
    left:47.2%;
    right: 0;
    
  }
  .background {
    background-color:  #19bedbfa;
    border-radius: 50%;
    box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044),
      0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061),
      0 25px 20px rgba(0, 0, 0, 0.1);
    height: 58px;
    left: 11px;
    position: absolute;
    top: 11px;
    width: 58px;
  }
  .chat-bubble {
    cursor: pointer;
    position: relative;
  }
  .bubble {
    transform-origin: 50%;
    transition: transform 500ms cubic-bezier(0.17, 0.61, 0.54, 0.9);
  }
  .line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2.75;
    stroke-linecap: round;
    transition: stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 90;
    stroke-dashoffset: -20;
  }
  .line2 {
    stroke-dasharray: 67 87;
    stroke-dashoffset: -18;
  }
  .circle {
    fill: #ffffff;
    stroke: none;
    transform-origin: 50%;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active .bubble {
    transform: translateX(24px) translateY(4px) rotate(45deg);
  }
  .active .line1 {
    stroke-dashoffset: 21;
  }
  .active .line2 {
    stroke-dashoffset: 30;
  }
  .active .circle {
    transform: scale(0);
  }
   */




ul#buttons {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

ul#buttons:before {
    content: "<Andy>";
    font-size: 3em;
    font-family: Arial;
    font-weight: 300;
    color: #4d4d4d;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -60px;
}

ul#buttons li {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    box-sizing: border-box;
    background: transparent;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    transition: .5s;
    box-shadow: 0px 12px 25px -12px,
        0px 0px 25px -12px;
}

ul#buttons li a {
    display: block;
    widows: 100%;
    height: 100%;
    font-size: 3em;
    background: transparent;
    transition: .5s;
    animation: icon-out .5s forwards;
    animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}

ul#buttons li:before {
    content: "";
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    transform: rotate(-45deg) translate(-110%, -23px);
    z-index: -2;
    animation: back-out .5s forwards;
    animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}

ul#buttons li:hover a {
    animation: icon-in .5s forwards;
    animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
}

ul#buttons li:hover:before {
    animation: back-in .5s forwards;
    animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
}

@keyframes back-in {
    0% {
        transform: rotate(-45deg) translate(-110%, -33px);
    }

    80% {
        transform: rotate(-45deg) translate(5%, -33px);
    }

    100% {
        transform: rotate(-45deg) translate(0%, -33px);
    }
}

@keyframes back-out {
    0% {
        transform: rotate(-45deg) translate(0%, -33px);
    }

    20% {
        transform: rotate(-45deg) translate(5%, -33px);
    }

    100% {
        transform: rotate(-45deg) translate(-110%, -33px);
    }
}

@keyframes icon-in {
    0% {
        font-size: 2.25em;
    }

    80% {
        color: #fff;
        font-size: 2.50em;
    }

    100% {
        color: #fff;
        font-size: 2.10em;
    }
}

@keyframes icon-out {
    0% {
        color: #fff;
        font-size: 2.10em;
    }

    20% {
        color: #fff;
        font-size: 2.25em;
    }

    100% {
        font-size: 2em;
    }
}

/* Media Queries */



@media (max-width: 767px) {

    body {
        line-height: 2em;
    }

    ul#buttons:before {
        content: "<Andy>";
        font-size: 2.1rem;
        font-family: Arial;
        font-weight: 250;
        color: #4d4d4d;
        position: absolute;
        width: 100%;
        text-align: center;
        margin-top: -67px;
    }

    ul#buttons li {
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        box-sizing: border-box;
        background: transparent;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        transition: .5s;
        box-shadow: 0px 12px 25px -12px,
            0px 0px 25px -12px;
    }


    /* .close-button {
        position: absolute;
    padding: 0;
    margin: 0;
    top: 80%;
    left: 45%;
    width: 30px;
    height: 30px;
    }
    .close-button:hover svg {
        transform: translate(-50%, -50%) rotate(150deg);
    }
    .close-button:hover path {
        stroke: #ffffff;
    } */


    
    

    /* chatIcon */
/* .chat {
    content: center;
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 20px;
    left:40%;
    right: 0;
    
  }
  .background {
    background-color: #19bedbfa;
    border-radius: 50%;
    
    height: 59px;
    left: 10px;
    position: absolute;
    top: 11px;
    width: 58px;
  }
  .chat-bubble {
    cursor: pointer;
    position: relative;
  }
  .bubble {
    transform-origin: 50%;
    transition: transform 500ms cubic-bezier(0.17, 0.61, 0.54, 0.9);
  }
  .line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2.75;
    stroke-linecap: round;
    transition: stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 90;
    stroke-dashoffset: -20;
  }
  .line2 {
    stroke-dasharray: 67 87;
    stroke-dashoffset: -18;
  }
  .circle {
    fill: #ffffff;
    stroke: none;
    transform-origin: 50%;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active .bubble {
    transform: translateX(24px) translateY(4px) rotate(45deg);
  }
  .active .line1 {
    stroke-dashoffset: 21;
  }
  .active .line2 {
    stroke-dashoffset: 30;
  }
  .active .circle {
    transform: scale(0);
  } */
  
  /* liquid */
  .liquid {
      margin: 0;
      padding: 0;
      left: 43%;
      top: 84%;
  }
  
  body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 173vh;
    overflow: hidden;
    
}
}
